/* INIT */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    position: relative;
}
/* END -INIT */

/* FONTS */
:root {
    --main-font: 'Bebas Neue', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --sub-font: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --main-header: calc(218px + (230 - 218) * ((100vw - 300px) / (1600 - 300)));
    --main-paragraph: calc(50px + (62 - 50) * ((100vw - 300px) / (1600 - 300)));
    --main-button: calc(26px + (38 - 26) * ((100vw - 300px) / (1600 - 300)));
    --project-card: calc(26px + (38 - 26) * ((100vw - 300px) / (1600 - 300)));
    --project-heading: calc(74px + (86 - 74) * ((100vw - 300px) / (1600 - 300)));
    --main-space: 14px;
}
/* END - FONTS */

/* COLOR */
:root {
    --dark-bg: rgba(18, 18, 18, 0.45);
    --darker-bg: rgba(18, 18, 18, 0.80);
    --text: rgba(239, 239, 239);
    --grey: rgba(112, 112, 122, 0.3);
}
/* END - COLOR */

/* VARIABLES */
:root {
    --main-border: 1px solid var(--grey);
}
/* END - VARIABLES */

/* BUTTON */
/* END - BUTTON */

/* BACKGROUND */
.allBackground {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    display: grid;
}

.allBackground div:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
}

.allBackground div:nth-child(1) img {
    background: cover no-repeat center;
    width: 100vw;
    height: 100vh;
}

.allBackground div:nth-child(2) {
    grid-area: 1 / 1 / 2 / 2;
}

.allBackground div:nth-child(2) img {
    height: 100vh;
}

.allBackground div:nth-child(3) {
    grid-area: 1 / 1 / 2 / 2;
    background-color: var(--darker-bg);
    width: 100vw;
    height: 100vh;
}
/* END - BACKGROUND */

/* NAV */
.navigation {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navigation nav ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}

.navigation nav ul li {
    list-style: none;
    text-align: center;
    background-color: var(--dark-bg);
    border: var(--main-border);
}

.navigation nav ul li a {
    display: flex;
    justify-content: center;
    height: 100%;
    text-decoration: none;
    color: var(--text);
    font-family: var(--main-font);
    text-transform: uppercase;
    padding: 15px;
    letter-spacing: 1.5px;
}
/* END - NAV */

/* HERO */
.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 0.2fr 0.1fr;
    grid-column-gap: 20px;
    grid-row-gap: 5px; 
    color: var(--text);
    font-family: var(--main-font);
    padding: 8rem 1rem 0rem;
}

.hero div:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
}

.hero div:nth-child(1) h1 {
    display: flex;
    justify-content: end;
    font-size: var(--main-header);
    letter-spacing: var(--main-space);
}

.hero div:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
}

.hero div:nth-child(2) p {
    font-size: var(--main-paragraph);
    font-family: var(--sub-font);
    font-weight: 100;
    text-align: center;
}

.hero div:nth-child(3) {
    grid-area: 2 / 1 / 3 / 3;
} 

.hero div:nth-child(3) h1 {
    font-size: var(--main-header);
    letter-spacing: var(--main-space);
}

.hero div:nth-child(4) {
    grid-area: 3 / 1 / 4 / 3;
    display: flex;
}

.hero div:nth-child(4) div a {
    text-decoration: none;
    color: var(--text);
    font-size: var(--main-button);
    margin-right: 70px;
    border-bottom: 2px solid var(--text);
}

.hero div:nth-child(5) {
    grid-area: 4 / 1 / 5 / 3;
} 

.hero div:nth-child(5) i {
    position: fixed;
    left: 97%;
    font-size: 2rem;
}
/* END - HERO */

/* PROJECT */
.projects {
    margin-top: 40px;
    display: grid;
    grid-template-rows: 1fr 0.5fr;
}

.projects > div:nth-child(1) {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.projects > div:nth-child(1) div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--main-border);
}


.projects > div:nth-child(1) div h2 {
    font-family: var(--main-font);
    font-size: var(--project-heading);
    color: var(--text);
    letter-spacing: 5px;
    padding: 6rem;
}

.projects > div:nth-child(1) div p {
    color: var(--text);
    font-size: 1.5rem;
    font-family: var(--sub-font);
    padding: 5rem;
    line-height: 2rem;
    letter-spacing: 1.5px;
}

.projects > div:nth-child(2) div p {
    color: var(--text);
    font-size: var(--project-para);
    font-family: var(--sub-font);
}

.projects > div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: var(--main-border);
}

.projects > div:nth-child(2) div div:nth-child(2){
    padding: 40px;
    line-height: 20px;
}

.projects > div:nth-child(2) div div {
    border: var(--main-border);
    line-height: 0;
    position: relative;
}

.projects div:nth-child(2) div div img {
    width: 100%;
}

.projects div:nth-child(2) div div a {
    display: none;
}

.projects div:nth-child(2) div div:hover a {
    width: 100%;
    height: 100%;
    background-color: var(--darker-bg);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--text);
    font-family: var(--main-font);
    font-size: var(--project-card);
}

.projects div:nth-child(2) div:nth-child(2) {
    text-align: center;
}

.projects div:nth-child(2) div:nth-child(2) p {
    text-transform: capitalize;
    color: var(--text);
    font-family: var(--sub-font);
    letter-spacing: 1.5px;
}

.projects div:nth-child(2) div:nth-child(2) h4 {
    padding-top: 20px;
    text-transform: uppercase;
    color: var(--text);
    font-family: var(--main-font);
    letter-spacing: 0.2rem;
    line-height: 2.2rem;
    font-size: var(--project-card);
}
/* END - PROJECT */

/* TOOLS SECTION */
.tools {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.05fr 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.tools > div:nth-child(1) {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--main-border);
    padding: 40px;
    letter-spacing: .2rem;
}

.tools > div:nth-child(1) h2{
    color: var(--text);
    font-family: var(--main-font);
    font-size: var(--project-heading);

}

.tools > div:nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
}

.tools > div:nth-child(3) {
    grid-area: 2 / 2 / 3 / 4;
}

.tools > div:nth-child(3) p {
    padding: 20px;
    font-family: var(--sub-font);
    font-size: var(--main-paragraph);
    color: var(--text);
}
/* END - TOOLS SECTION */

/* ABOUT */
/* END - ABOUT */

/* CONTACT */
/* END - CONTACT */